fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-multipart
python-dotenv
cloudinary
requests
numpy
pillow
pdfplumber
pdf2image
pytesseract
python-docx
prometheus-client
huggingface-hub
